
<div class="info-container">
    <h2>INFORMACIÓN 📝</h2>
    <p>{{ info.text }}</p>
    <p>
        Los tres primeros diseños corresponden a la famosa marca <strong>Monster Energy</strong>, presente en la competición <strong>Fórmula Drift</strong>.
        En orden, en primer lugar tenemos el <strong>Lamborghini Huracán GT3</strong> de <strong>Daigo Saito</strong>. En la segunda imagen podemos ver
        el <strong>Nissan GT-R</strong> de <strong>Baggsy</strong>. Y en tercer lugar el icónico <strong>Ford Mustang</strong> del piloto <strong>Vaughn Gittin Jr</strong>.
        <br><br>
        Los siguientes dos diseños pertenecen también a la Fórmula Drift.
        En este caso se trata de los diseños del <strong>Dodge Viper de Dean Kearney (Oracle)</strong>,
        y el <strong>Toyota Auris de Fredrick Asboo (Rockstar)</strong>.
        <br><br>
        Seguidamente nos encontramos el diseño que ha destacado a VolksWagen
        dentro del mundo del <strong>RallyCross</strong>, con el livery que usa en esta competeición
        en su famoso <strong>VolksWagen Polo</strong>.
        <br><br>
        Ahora nos encontramos con dos vinelados provenientes de la F1, de los equipos
        <strong>Williams (Ford GT LM spec)</strong> y <strong>Ferrari (Ferrari 458 Italia GT3)</strong>,
        intentando plasmar la esencia de la <strong>Fórmula 1</strong> en competiciones inferiores.
        <br><br>
        Por últimos, tenemos dos diseños pertenecientes a las competiciones de
        <strong>GT4 y GT3</strong>, según el orden de las imágenes, en las que podemos ver
        un <strong>Audi TT Cup</strong> del equipo <strong>Leopard Racing</strong>, y un <strong>BMW Z4 GT3</strong> del equipo de la marca.
    </p>
</div>
<app-comment>
    [commentUser]="messageCar" 
    (commentEvent)="receiveComment($event)">
</app-comment>
<div class="result">
    <h5>El coche sugerido por el usuario es: <p>{{commentUserPrint}}</p></h5>
</div>