<!-- <div>
    <h1>Son Component:</h1>
    <h4> El hijo escucha: 'messageSon':</h4>
    <p>{{commentUser}}</p>
</div>-->
<div class="comment-container">
    <h2>¿Qué coche quieres que sea el próximo? </h2>
    <input [(ngModel)]="comment"/>
    <button (click)="sendComment()">Enviar</button>
</div>
<!-- <div>
    <h1>Son Component:</h1>
    <h4> El hijo escucha: 'commentUser':</h4>
    <p>{{commentUser}}</p>
</div>
<div>
<h2>Envia mensaje al componente padre: </h2>
<input [(ngModel)]="comment"/>
<button (click)="sendComment()">Enviar mensaje al p adre</button>
</div> -->