/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Major+Mono+Display&family=Teko:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*  font-family: 'Frijole', cursive;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Teko', sans-serif; 
    font-family: 'Anton', sans-serif;*/

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Teko', sans-serif;
    color: honeydew;
    background-color: rgb(44, 44, 44);

    h1,h2,h3 {
        font-family: 'Frijole', cursive;
        font-size: 13px;
        color:rgb(94, 255, 255);
    }
}

